.icon{    
    color: #fff;
    font-size: 32px;
}
.heading{
    color: #fff;
    font-weight: 500;
}
.form-control{
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}
.search-icon{
    position: absolute;
    right: 33%;
    top: 20px;
}
.btn{
    display: flex;
    align-items: center;
}
ng-container{
    background-color: #fff;
}
.container{
    background-color: #fff;
}
.cart{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h5{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4,h6{
    font-weight: 400;
}
.center img{
    height: 165px;
    width: 250px;
    margin: 20px 0px;
}
.center button{
    position: absolute;
    left: 6%;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
    padding: 12px 72px; 
    border-radius: 3px;
}
.cart-product{
    margin-top: 8%;
}

