<!-- <app-header></app-header> -->
<div class="c1" style="height: 100%;">
  <div class="container c2" style="height: 100%;">
    <h1>Discover Endless Delights at  MyCart</h1>
      <p>"Welcome to MyCart, your ultimate destination for a delightful shopping experience! Immerse yourself in a world of endless possibilities as you explore our vast collection of high-quality products curated just for you. From trendy fashion ensembles to innovative gadgets, from exquisite home decor to gourmet delights, we
          have everything you need to elevate your lifestyle.</p>
      <a href="#" class="btn btn-dark" routerLink="/products">Start to purchase</a>
    </div>
</div>  
  
